<div data-role="view" data-title="Map" 
    data-model="route.routeViewModel" 
    data-init="route.routeViewModel.init"
    data-show="route.routeViewModel.show"
    data-model="route.routeViewModel">
    <header data-role="header">
        <div data-role="navbar">
            Activity
            <a class="nav-button" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button" data-align="right" data-role="button" data-bind="click: setRoute">Set Route</a>
        </div>
    </header>
    <div id="enterRoute" class="share-form-wrp">
        <div id="panel">
            <a class="nav-button" data-align="right" data-role="button" data-bind="click: calcRoute">Calc route</a>
    
            <ul data-role="listview" data-style="inset">
                    <li><label for="start">Start city</label> <input type="text" id="start" /></li>
                    <li><label for="end">End city</label> <input type="text" id="end"/></li>
            </ul>
        </div>
    <div id="map-canvas"></div>
    </div>
</div>
